#epay_main {
  width:100%;
  float:none;
  left:0;
  margin:0px;
}

/**/
/* Header and sub contents */
#epay_main_header {
  background:wheat;
}

/**/
/* Main conten and sub contents */
#epay_main_content {
background:wheat;
}

#epay_header {
  padding:0px;
}

#epay_header_top {
background:none;
}

/* logo */
#epay_header_content_left {
  width:100%;
  background:wheat;
  float:none;
  margin:0px;
}

#epay_header_content_right {
  width:auto;
  float:none;
}

/* content */
#epay_content {
  width:100%;
  margin:0px;
  padding:0px;
}

#epay_content_top {
  background:none;
}

#epay_header_bottom {
background:none;
}

/* Steps */
#epay_steps_list li {
  padding-right:30px;
  background:none;
  position:relative;
}

#epay_steps_list li::before,
#epay_steps_list li::after {
  content:"";
  display:block;
  width:10px;
  height:3px;
  background-color:#434343;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  top: 20px;
}
  
#epay_steps_list li::after {
  transform: rotate(-45deg);
  top:30px;
}

#epay_steps_list li.steps_list_1,
#epay_steps_list li.steps_list_2,
#epay_steps_list li.steps_list_3 {
  background:none;
  border:1px solid #ccc;
  background-color:#f7f7f7;
  width:auto;
}


#epay_steps_list li.steps_list_1.currentstep1 {
  background:none;
  background-color:#ebebeb;
}

@media (min-width:420px) {

  #epay_header_content_left,
  #epay_header_content_right {
    float:left;
  }
  
  #epay_header_content_left {
    width:200px;
    border-right:1px solid #ccc;
    margin-right:10px;
    padding-right:10px;
  }

}

/**/
/* Footer and sub contents */
#epay_main_footer {
background:wheat;
}

