#epay_testmode_message {
  width:100%;
  max-width:708px;
  margin:0px;
}

#epay_main {
  width:100%;
  float:none;
  left:0;
  margin:0px;
}

/*-----*/
/* Header and sub contents */
/*-----*/
#epay_main_header {
  background:#fff;
}

/*-----*/
/* Main content and sub contents */
/*-----*/
#epay_main_content {
  background:#fff;
}

/*-- Content Header --*/
#epay_header {
  padding:0px;
  width: 100%;
}

#epay_header_top {
  background:none;
}

/*-- Content Header Logo --*/
#epay_header_content_left {
  width:100%;
  background:#fff;
  float:none;
  margin:0px;
}

/*-- Content Header text --*/
#epay_header_content_right {
  width:auto;
  float:none;
}

/*-- Content content --*/
#epay_content {
  width:100%;
  margin:0px;
  padding:0px;
}

/*-- Content content top --*/
#epay_content_top {
  background:none;
}

/*-- Content content content --*/
#epay_content_content {
padding:10px; 
}

/*-- Content header bottom --*/
#epay_header_bottom {
  background:none;
}

/*-- Steps --*/
#epay_steps {
  margin-bottom:15px;
  border-radius:3px;
  border:1px solid #e5e5e5;
}

#epay_steps_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 54px;
    margin-left: 8px;
    text-shadow: #fff 1px 0;
    overflow: hidden;
}

/*-- Steps 1-2-3 --*/
#epay_steps_list li {
  padding-right:50px;
  background:none;
  position:relative;
  border-left:1px solid #e5e5e5;
  width:30%;
}

#epay_steps_list li:first-child {
  border:none;
}

/*-- Steps arrows --*/
#epay_steps_list li::before,
#epay_steps_list li::after {
  content:"";
  display:block;
  width:6px;
  height:2px;
  background-color:#555;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 24px;
}
  
#epay_steps_list li::after {
  transform: rotate(-45deg);
  top:27px;
}

#epay_steps_list li.steps_list_1,
#epay_steps_list li.steps_list_2,
#epay_steps_list li.steps_list_3 {
  background:none;
  width:auto;
}

#epay_steps_list li.steps_list_1.currentstep1 {
  background:none;
}

#epay_steps_list li.steps_list_1.currentstep2,
#epay_steps_list li.steps_list_1.currentstep3,
#epay_steps_list li.steps_list_2 currentstep1,
#epay_steps_list li.steps_list_2.currentstep2,
#epay_steps_list li.steps_list_2.currentstep3,
#epay_steps_list li.steps_list_3.currentstep1,
#epay_steps_list li.steps_list_3.currentstep2,
#epay_steps_list li.steps_list_3.currentstep3 {
  background:none;
}

/*-- payment method --*/
.epay_paymentmethod {
  border:1px solid #e5e5e5;
  height:auto;
  overflow:hidden;
  width:100%;
  border-radius:3px;
  margin-bottom:3px;
}

.epay_paymentmethod.first {
  border-top: 1px solid #e5e5e5;
}

.epay_paymentmethod:hover {
  background:none;
  /* background-color:#f1f6ff; */
  border-color:#00a82d;
}

.epay_paymentmethod .epay_payment_goto {
  float:right;
  width:100%;
}

.epay_paymentmethod .epay_payment_goto .epay_payment_goto_text {
    width:100%;
    padding:0px;
    float: none;
    text-align: left;
}

.epay_paymentmethod .epay_payment_goto .epay_payment_goto_button_container {
  float: none;
  width: 100%;
  height: 79px;
  background: none;
}
/*-- Payment method button--*/
.epay_payment_goto_button {
  display:inline-block;
  height: auto;
  background: none;
  background: #14cc45; /* green */
  margin:0px;
  border-radius:3px;
}

.epay_payment_goto_button span {
  padding:10px 20px;
  text-align:center;
  line-height:auto;
}

.epay_payment_goto_button:hover {
    background: #00a82d;
}

.epay_paymentmethod_name {
  line-height:50px;
  float:none;
}

/*-- Large logos --*/
.epay_payment_logos {
  width:auto;
  text-align:left;
  padding-left:20px;
  float:none;
}

.epay_payment_logos img {
  margin-top:10px;
}

@media (min-width:420px) {

  #epay_header_content_left,
  #epay_header_content_right {
    float:left;
  }
  
  #epay_header_content_left {
    width:200px;
    border-right:1px solid #ccc;
    margin-right:10px;
    padding-right:10px;
  }

}



/**/
/* Footer and sub contents */
#epay_main_footer {
  background:#fff;
}

#epay_content_bottom_top,
#epay_content_bottom_content,
#epay_content_bottom_bottom {
background:none;
}

