#epay_main {
  width:100%;
  float:none;
  left:0;
  margin:0px;
}

/**/
/* Header and sub contents */
#epay_main_header {
  background:wheat;
}

/**/
/* Main conten and sub contents */
#epay_main_content {
  background:wheat;
}

#epay_header {
  padding:0px;
  width: 100%;
}

#epay_header_top {
  background:none;
}

/* logo */
#epay_header_content_left {
  width:100%;
  background:wheat;
  float:none;
  margin:0px;
}

#epay_header_content_right {
  width:auto;
  float:none;
}

/* content */
#epay_content {
  width:100%;
  margin:0px;
  padding:0px;
}

#epay_content_top {
  background:none;
}

#epay_header_bottom {
  background:none;
}

/* Steps */
#epay_steps {
  margin-bottom:15px;
  border-radius:3px;
  border:1px solid #f7f7f7;
}

#epay_steps_list li {
  padding-right:50px;
  background:none;
  position:relative;
  border-left:1px solid #f7f7f7;
}

#epay_steps_list li:first-child {
  border:none;
}

#epay_steps_list li::before,
#epay_steps_list li::after {
  content:"";
  display:block;
  width:10px;
  height:3px;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 21px;
}
  
#epay_steps_list li::after {
  transform: rotate(-45deg);
  top:27px;
}

#epay_steps_list li.steps_list_1,
#epay_steps_list li.steps_list_2,
#epay_steps_list li.steps_list_3 {
  background:none;
  width:auto;
}

#epay_steps_list li.steps_list_1.currentstep1 {
  background:none;
}

#epay_steps_list li.steps_list_1.currentstep2,
#epay_steps_list li.steps_list_1.currentstep3,
#epay_steps_list li.steps_list_2.currentstep2,
#epay_steps_list li.steps_list_3.currentstep3 {
  background:none;
}

.epay_paymentmethod {
  border-top:1px solid #f7f7f7;
  height:auto;
  overflow:hidden;
  width:100%;
}

.epay_paymentmethod:hover {
  background:none;
  background-color:#f1f6ff;
}

@media (min-width:420px) {

  #epay_header_content_left,
  #epay_header_content_right {
    float:left;
  }
  
  #epay_header_content_left {
    width:200px;
    border-right:1px solid #ccc;
    margin-right:10px;
    padding-right:10px;
  }

}

/**/
/* Footer and sub contents */
#epay_main_footer {
  background:wheat;
}

