#epay_testmode_message {
  width:100%;
  max-width:708px;
  margin: 0px 0px 10px 0px;
}

body {
  background: rgb(225, 225, 225) none repeat scroll 0% 0% !important;
}

#epay_main {
  width:100%;
  float:none;
  left:0;
  margin:0px auto;
  max-width:800px;
}

/*-----*/
/* Header and sub contents */
/*-----*/
#epay_main_header {
  background:#fff;
}

/*-----*/
/* Main content and sub contents */
/*-----*/
#epay_main_content {
  background:#fff;
}

/*-- Content Header --*/
#epay_header {
  padding:0px 10px;
  width: 100%;
  height:auto;
  box-sizing: border-box;
}

#epay_header_top {
  background:none;
}

#epay_header_content {
    height: auto;
    background: #fff;
}

/*-- Content Header Logo --*/
#epay_header_content_left {
  width:100%;
  background:#fff;
  float:none;
  margin:0px;
  /* test*/
  background: url(https://www.skechers.dk/media/logo/default/logo.png) no-repeat;
  background-size: contain;
  border:1px solid green;
}

/*-- Content Header text --*/
#epay_header_content_right {
  width:auto;
  float:none;
  margin:0px;
  height:auto;
  padding:0px 0px 0px 20px;
}

/*-- Content content --*/
#epay_content {
  width:100%;
  margin:0px;
  padding:0px;
}

/*-- Content content top --*/
#epay_content_top {
  background:none;
}

/*-- Content content content --*/
#epay_content_content {
padding:10px; 
}

/*-- Content header bottom --*/
#epay_header_bottom {
  background:none;
}

/*-- Steps --*/
#epay_steps {
  margin-bottom:15px;
  border-radius:3px;
  border:1px solid #e5e5e5;
}

#epay_steps_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-shadow: #fff 1px 0;
    height:auto;
}

/*-- Steps 1-2-3 --*/
#epay_steps_list li {
  background:none;
  position:relative;
  /* border-left:1px solid #e5e5e5; */
  width:100%;
  float:none;
  border-top:1px solid #e5e5e5; 
}

#epay_steps_list li:first-child {
  border:none;
}

/*-- Steps arrows --*/
#epay_steps_list li::before,
#epay_steps_list li::after {
  content:"";
  display:block;
  width:6px;
  height:2px;
  background-color:#555;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 24px;
}
  
#epay_steps_list li::after {
  transform: rotate(-45deg);
  top:27px;
}

#epay_steps_list li.steps_list_1,
#epay_steps_list li.steps_list_2,
#epay_steps_list li.steps_list_3 {
  background:none;
  width:100%
}

#epay_steps_list li.steps_list_1.currentstep1 {
  background:none;
}

#epay_steps_list li.steps_list_1.currentstep2,
#epay_steps_list li.steps_list_1.currentstep3,
#epay_steps_list li.steps_list_2 currentstep1,
#epay_steps_list li.steps_list_2.currentstep2,
#epay_steps_list li.steps_list_2.currentstep3,
#epay_steps_list li.steps_list_3.currentstep1,
#epay_steps_list li.steps_list_3.currentstep2,
#epay_steps_list li.steps_list_3.currentstep3 {
  background:none;
}

#epay_steps_list li span {
    padding-left: 20px;
}

#epay_steps_list li.steps_list_1 span {
    padding-left: 20px;
}


/*-- payment method --*/
.epay_paymentmethod {
  border:1px solid #e5e5e5;
  height:auto;
  overflow:hidden;
  width:100%;
  border-radius:3px;
  margin-bottom:3px;
  padding-bottom: 10px;
}

.epay_paymentmethod.first {
  border-top: 1px solid #e5e5e5;
}

.epay_paymentmethod.last {
    height: auto;
}

.epay_paymentmethod:hover {
  background:none;
  /* background-color:#f1f6ff; */
  border-color:#00a82d;
}

.epay_paymentmethod .epay_payment_goto {
  float:none;
  width:100%;
}

/* Logos on hover */
.epay_paymentmethod .epay_payment_goto .epay_payment_goto_text {
    width:100%;
    padding: 0px 0px 0px 20px;
    float: none;
    text-align: left;
    font-size: inherit;
    height:40px;
}


.epay_paymentmethod .epay_payment_goto .epay_payment_goto_text img {
    height:32px !important;
}

.epay_paymentmethod .epay_payment_goto .epay_payment_goto_button_container {
  display:none;
  float: none;
  width: 100%;
  height: auto;
  background: none;
}
/*-- Payment method button--*/
.epay_payment_goto_button,
.epay_payment_button {
  display:inline-block;
  height: auto;
  background: none;
  background: #14cc45; /* green */
  margin:0px;
  border-radius:3px;
}

.epay_payment_button {
  height:41px;
  float:none;
  padding:10px 20px;
  width:auto;
  margin-top:15px;
}

.epay_payment_goto_button span {
  padding:10px 20px;
  text-align:center;
  line-height:1;
}

.epay_payment_goto_button:hover,
.epay_payment_button:hover {
  background:none;
  background: #00a82d;
}

.epay_paymentmethod_name {
  line-height:50px;
  float:none;
}

/* Payment step */
#epay_paymentcollection {
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    padding-bottom: 60px;
    max-width:200px;
    margin:0px auto;
}

#epay_paymentinfo {
    float: none;
    width: 100%;
    margin-top: 15px;
    max-width: 387px;
}

#epay_paymentinfo ul, #epay_paymentinfo_full ul {
    list-style: none;
    padding: 0;
    height: auto;
    margin: 0;
}

#epay_paymentcards_form {
    float: none;
    width: 100%;
    min-height: 230px;
}



/*-- Large logos --*/
.epay_payment_logos {
  width:auto;
  text-align:left;
  padding:0px 0px 0px 20px;
  float:none;
  margin:0px;
  height:40px;
}

.epay_payment_logos img {
  margin-top:0px;
  padding:0px;
}

@media (min-width:420px) {

  #epay_header_content_left,
  #epay_header_content_right {
    float:left;
  }
  
  #epay_header_content_left {
    width:200px;
    border-right:1px solid #ccc;
    margin-right:10px;
    padding-right:10px;
  }

}



/**/
/* Footer and sub contents */
#epay_main_footer {
  background:#fff;
}

#epay_content_bottom {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
}

#epay_content_bottom_top,
#epay_content_bottom_content,
#epay_content_bottom_bottom {
background:none;
}

/* bambora logo */
#epay_content_bottom_content_left {
    float: none;
}

#epay_content_bottom_content #epay_content_bottom_content_left:hover {
    float: none;
}

#epay_content_bottom_content_center {
    float: none;
    width: auto;
    padding-top: 15px;
    margin-left: 0px;
    line-height: normal;
    background: none;
    height: auto;
    color: #717171;
    cursor: pointer;
    font-size: 10px;
    padding-left: 10px;
}

#epay_content_bottom_content_right {
    float: none;
    width: 148px;
    margin-left: 10px;
    height: 78px;
}

/* language selector */
#epay_language_selector {
    width: 94%;
    height: auto;
    float: left;
    left: 50%;
    margin-top: -105px;
    margin-left: -47%;
    display: none;
    z-index: 1000;
    position: absolute;
    background: none;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

@media (min-width:420px) {
  #epay_language_selector {
    margin-top: -175px;
  }
}  

@media (min-width:650px) {
  
  #epay_content_bottom_content_center,
  #epay_content_bottom_content_left {
    float:left;
  }
  
  #epay_content_bottom_content_right {
    float:right;
  }
  
  #epay_content_bottom_content_center {
    width: 320px;
  }  
}  
  
@media (min-width:720px) {
  
  #epay_language_selector {
    margin-top: -40px;
  }
  
}


#epay_language_selector::after {
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:relative;
  bottom:0px;
  right:0px;
  background-color:#e5e5e5;
}

#epay_languages_list {
    margin: 10px;
    padding: 0;
    list-style-type: none;
    float: left;
}

#epay_content_bottom_language.active {
    background: none;
}
#epay_content_bottom_language {
    width: 63px;
    height: 34px;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    cursor: pointer;
    background: none;
    border:1px solid #e5e5e5;
}

#epay_content_bottom_language:hover {
    background: none;
}

/*-- language selector arrow --*/
#epay_content_bottom_language::before,
#epay_content_bottom_language::after {
  content:"";
  display:block;
  width:6px;
  height:2px;
  background-color:#ccc;
  transform: rotate(45deg);
  position: relative;
  left: 48px;
  top: 15px;
}
  
#epay_content_bottom_language::after {
  transform: rotate(-45deg);
  top:-21px;
}

@media (min-width:801px) {

  #epay_steps_list {
    overflow:hidden;
  }
  
  #epay_steps_list li {
    width:250px;
    float:left;
    border:none;
    border-left:1px solid #e5e5e5;
  }
  
  #epay_steps_list li.steps_list_1,
  #epay_steps_list li.steps_list_2,
  #epay_steps_list li.steps_list_3 {
    width:258px;
  }
  
}

#epay_paymentinfo ul li.total label,
#epay_paymentinfo ul li p, 
#epay_paymentinfo_full ul li p {
    width: 50%;
}

#epay_paymentcollection label {
  width:100%;
}

#epay_paymentcollection input[type="text"], 
#epay_paymentcollection input[type="tel"] {
  width:100%;
  max-width:180px;
  border:1px solid #ccc;
}


.epay_expmonth_input,
.epay_expyear_input,
.epay_cvc_input {
    width: 55px !important;
    background: none;
    border:1px solid #ccc;
}

.epay_cardno_input.valid,
.epay_expmonth_input.valid,
.epay_expyear_input.valid,
.epay_cvc_input.valid {
    background: none;
    border:1px solid #14cc45;  
}
  
span.info {
  display: none;
}

@media (min-width:720px) {
   
  span.info {
    display: block
  }

}


